@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }

  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__btn-menu {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;

    span {
      height: 3px;
      background-color: #000000;
      width: 37px;
      border-radius: 4px;
      display: block;
      margin: 6px 0;
    }
  }
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-left: 30px;
  padding-right: 60px;

  &__list {
    display: flex;
  }

  &__list-item + .menu__list-item {
    padding-left: 80px;
  }

  &__list-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 22px;
    color: rgba(54, 56, 56, 0.90);
  }

  &__list-link--active {
    padding-bottom: 4px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 2px;
      border-radius: 1px;
      background: rgba($title-color, .7);
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.rightside-menu {
  position: absolute;
  z-index: 6;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 694px;
  background-color: #ffffff;
  padding-top: 40px;
  box-shadow: 4px -2px 20px 0 #000;
  transition: all .6s;

  &.rightside-menu--close {
    transform: translateX(200%);

  }

  &__close {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 35px;
    margin-left: 50px;
    margin-bottom: 60px;
  }

  &__content {
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
  }

  &__logo {
    margin-bottom: 40px;
    display: inline-block;
  }

  &__title {
    color: $title-color;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 17px;
    position: relative;
    padding-bottom: 17px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      max-width: 252px;
      margin: 0 auto;
      height: 1px;
      background-color: #6D7278;
    }
  }

  &__text {
    margin-bottom: 40px;
  }

  &__image {
    width: 485px;
  }
}

.breadcrumbs {
  background: rgba(#DFDFDF, .5);
  padding: 13px 0 14px;
  position: relative;
  z-index: 5;

  &__list {
    display: flex;
    overflow-x: auto;
  }

  &__item {
    position: relative;
    padding-right: 3px;
    margin-right: 3px;
  }

  &__item::after {
    content: '/';
    position: absolute;
    right: -2px;
  }

  &__item:last-child::after {
    display: none;
  }

  &__link {
    color: $default-color;
    font-size: 14px;
  }
}


.top {
  &__inner {
    padding-bottom: 70px;
    position: relative;

    &::after {
      content: '';
      background-image: url("../img/main_slider.jpg");
      width: 100%;
      height: 722px;
      top: 0;
      z-index: -1;
      position: absolute;
    }
  }

  &__slider-img {
    max-width: 703px;
    max-height: 815px;
    object-fit: cover;
  }

  &__slider-info {
    width: 635px;
    margin-left: 19px;
  }

  &__slider-item {
    display: flex !important;
    align-items: center;
  }

  &__slider-title {
    color: $title-color;
    font-family: Montserrat, sans-serif;
    font-size: 110px;
    font-weight: 700;
    line-height: 135px;
    margin-bottom: 26px;
    padding-bottom: 26px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 185px;
      background: #6D7278;
    }
  }

  &__slider-text {
    max-width: 585px;
  }
}

.new-collection {
  text-align: center;
  padding: 45px 0 35px;

  &__title {
    color: $title-color;
    @extend %title-font;
    font-size: 35px;
    line-height: 51px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      margin: 0 auto;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      width: 250px;
      background-color: #6d7278;
    }
  }

  &__text {
    max-width: 730px;
    margin: 0 auto 30px;
  }
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding-bottom: 70px;

  &__item {
    position: relative;
  }

  &__img {
    max-width: 350px;
    width: 100%;
    object-fit: cover;
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#FFF, .6);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  &__title {
    color: $title-color;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 19px;
    margin-bottom: 19px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 80%;
      margin: 0 auto;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #6d7278;
    }
  }

  &__text {
    color: #707070;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }
}

.decor {
  background-image: url("../img/decor-bg.jpg");
  padding: 172px 0 156px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;

  &__title {
    width: 730px;
    color: $title-color;
    @extend %title-font;
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 22px;
    padding-bottom: 22px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 1px;
      max-width: 200px;
      width: 100%;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #6d7278;
    }

    &__text {
      font-weight: 400;
      line-height: 28px;
      max-width: 540px;
    }
  }

}

.work-path {
  padding: 80px 0 30px;

  &__title {
    text-align: center;
    color: $title-color;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 39px;
  }

  &__items-box {
    display: flex;
    border-bottom: 2px solid rgba($title-color, .7);
    position: relative;
    align-items: flex-end;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      height: 10px;
      width: 10px;
      background-color: $title-color;
      border-radius: 50%;
    }
  }

  &__items {
    margin-bottom: 39px;
  }

  &__item {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding-bottom: 30px;
    height: 100%;
  }

  &__item--production {
    margin-left: 310px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 20px;
      width: 2px;
      background-color: rgba($title-color, .7);
    }
  }

  &__item-title {
    padding-left: 10px;
    @extend %title-font;
  }

  &__item--measurements {
    padding-top: 38px;
    margin-left: 305px;

    &::after {
      content: '';
      top: 0;
      left: 0;
      height: 20px;
      width: 2px;
      position: absolute;
      background-color: rgba($title-color, .7);
    }
  }

  &__item-text {
    margin-top: 14px;
  }
}

.gallery {
  padding: 80px 0 90px;

  &__buttons {
    text-align: center;
    margin-bottom: 40px;
  }

  &__btn {
    margin: 0 13px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #454647;
    padding: 6px 16px;
    color: #8F8D8D;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
  }

  .mixitup-control-active {
    background-color: #FFEF35;
    color: $title-color;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px 35px;
  }

  &__item:first-child {
    grid-row: span 2;
    grid-column: span 2;
  }

  &__item-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &.gallery-page {
    padding-bottom: 60px;

    .gallery__item:nth-child(8) {
      grid-row: span 2;
      grid-column: span 2;
    }
  }
}

.blog-box {
  padding-bottom: 100px;

  &__title {
    color: $title-color;
    text-align: center;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    max-width: 430px;
    margin: 0 auto;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 29px;
    gap: 30px;
  }

  &__img {
    max-width: 540px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 19px;
    max-height: 330px;
    height: 100%;
  }

  &__links, &__author, &__theme {
    color: #707070;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
  }

  &__item-title {
    color: $title-color;
    @extend %title-font;
    line-height: 38px;
    margin-top: 7px;
    font-size: 24px;
  }
}

.footer {

  &__content {
    background: #DFDFDF;
    padding: 60px 15px 80px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    width: 540px;
  }

  &__info-title {
    color: $title-color;
    @extend %title-font;
    line-height: 22px;
    padding-bottom: 14px;
  }

  &__info-text {
    padding-bottom: 16px;
    max-width: 475px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    padding: 6px 10px 6px 18px;
    border-radius: 21px;
    background-color: transparent;
    border: 1px solid rgba($title-color, .7);
    width: 100%;
    height: 40px;

    &::placeholder {
      color: #A1A1A1;
      font-family: Open Sans, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
    }
  }

  &__form-button {
    background-color: $title-color;
    border: none;
    border-radius: 21px;
    font-weight: 600;
    padding: 6px 12px;
    color: #FFFFF0;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 28px;
    min-width: 160px;
    margin-left: 9px;
    cursor: pointer;
  }

  &__copyright {
    background: $title-color;
    color: #A1A1A1;
    padding: 42px 0 41px;
    text-align: center;
  }

  &__social {
    width: 125px;
    margin-right: auto;
    margin-left: 100px;
  }

  &__social-link,
  &__menu-link {
    color: #707070;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
  }

  &__social-link {
    padding-left: 28px;
    position: relative;

    &::before {
      content: '';
      background-repeat: no-repeat;
      background-size: auto;
      position: absolute;
      left: 0;
      top: 4px;
      width: 16px;
      height: 16px;
    }
  }

  &__social-link--facebook::before {
    background-image: url("../img/facebook.svg");
  }

  &__social-link--instagram::before {
    background-image: url("../img/instagram.svg");
  }

  &__social-link--pinterest::before {
    background-image: url("../img/pinterest.svg");
  }

  &__social-link--whatsapp::before {
    background-image: url("../img/whatsapp.svg");
  }

  &__social-link--youtube::before {
    background-image: url("../img/youtube.svg");
    width: 18px;
  }

  &__social-item,
  &__menu-item {
    margin-bottom: 15px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
    }
  }

  &__menu {
    margin-right: 60px;
    width: 125px;
  }
}


.about {
  &__prev {
    background-image: url("../img/about-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  &__prev-title {
    color: $title-color;
    @extend %title-font;
    font-size: 60px;
    line-height: 80px;
    padding: 104px 0 160px;
    text-align: center;
    margin-top: -53px;
  }

  &__title {
    color: $title-color;
    @extend %title-font;
    font-size: 36px;
    line-height: 60px;
    max-width: 822px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 22px;

    &::after {
      content: '';
      width: 200px;
      height: 2px;
      position: absolute;
      background: #6D7278;
      left: 0;
      bottom: 0;
    }
  }

  &__content {
    padding: 130px 0 140px;
  }

  &__text {
    margin-left: 285px;

    p + p {
      margin-top: 30px;
    }
  }

  &__popup {
    background-image: url("../img/popup-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;

  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
  }

  &__content {
    background-color: #FFFFFF;
    color: #000000;
    position: relative;
    right: 10px;
    top: 10px;
  }

  &__body--open {
    visibility: visible;
    opacity: 1;
  }

  &__video {
    max-width: 100%;
    vertical-align: top;
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
  }
}

.lock {
  overflow: hidden;
}

.about__popup-play {
  cursor: pointer;
}

.inspiration {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../img/inspiration-bg.jpg");
    height: 414px;
    z-index: -1;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: $title-color;
    @extend %title-font;
    font-size: 36px;
    line-height: 60px;
    padding-bottom: 16px;
    margin-bottom: 24px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      border-radius: 1px;
      background: #6D7278;
      width: 200px;
      height: 2px;
      left: 0;
      bottom: 0;
    }
  }

  &__img {
    margin-right: 78px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__content {
    max-width: 825px;
    width: 100%;

  }

  &__item {
    color: $title-color;
    @extend %title-font;
    line-height: 23px;
    margin-bottom: 34px;
  }

  &__item-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: 2px solid #FFFFFF;
    border-radius: 4px;
  }

  &__line {
    height: 2px;
    border-right: 4px;
    background-color: #000000;
    margin-top: -2px;
  }
}

.partners {
  padding: 16px 0 60px;

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  &__item {
    margin: 0 auto;
  }
}

.map {
  margin-top: -53px;

  iframe {
    height: 578px;
  }
}

.contact {
  padding-top: 60px;
  padding-bottom: 100px;

  &__title {
    color: $title-color;
    @extend %title-font;
    font-size: 36px;
    line-height: 60px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 200px;
      left: 0;
      bottom: 0;
      background: #6D7278;
    }
  }

  &__content {
    margin-left: 285px;
  }

  &__socials {
    display: flex;
    gap: 40px;
  }

  &__text {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #A1A1A1;
    max-width: 825px;
  }

  &__phone {
    color: $default-color;
  }

  &__city {
    margin-bottom: 16px;
  }

  &__form {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &::placeholder {
      color: #A1A1A1;
    }
  }

  &__form-input,
  &__form-area {
    border-radius: 24px;
    border: 1px solid #DFDFDF;
  }

  &__form-input {
    padding: 6px 17px;
    margin-bottom: 13px;
    width: 49%;
    max-width: 407px;
  }

  &__form-area {
    padding: 14px 17px;
    grid-column: span 2;
    max-height: 125px;
    width: 100%;
    resize: none;
  }

  &__form-btn {
    color: #FFFFF0;
    text-align: center;
    font-weight: 600;
    padding: 6px 12px;
    width: 181px;
    border-radius: 21px;
    background: $title-color;
    margin-top: 20px;
    cursor: pointer;
  }
}

.contact-slider {
  padding-bottom: 102px;

  &__link-item {
    position: relative;
  }

  &__img {
    //max-width: 170px;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#FFF, .6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $title-color;
    @extend %title-font;
    opacity: 0;
    padding: 10px;
    line-height: 22px;

    &:hover {
      opacity: 1;
    }
  }
}

.aside {
  width: 350px;

  &__search {
    margin-bottom: 44px;
    position: relative;
  }

  &__input {
    border-radius: 20px;
    border: 1px solid rgba($title-color, .7);
    padding: 6px 45px 6px 18px;
    width: 100%;

    &::placeholder {
      color: #A1A1A1;
      font-size: 14px;
    }
  }

  &__search-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 12px;
    right: 13px;
    cursor: pointer;
  }

  &__categories-title {
    color: $title-color;
    @extend %title-font;
    line-height: 23px;
    margin-bottom: 14px;
  }

  &__categories {
    margin-bottom: 48px;
  }

  &__categories-item {
    margin-bottom: 12px;
  }

  &__categories-link {
    color: $default-color;
    font-size: 14px;
  }

  &__recentposts-title,
  &__tags-title {
    color: $title-color;
    @extend %title-font;
    line-height: 23px;
    margin-bottom: 24px;
    font-size: 16px;
  }

  &__recentposts-link {
    color: $default-color;
    display: block;
  }

  &__recentposts-item + &__recentposts-item {
    margin-top: 11px;
  }

  &__recentposts-date,
  &__recentposts-author {
    color: #A1A1A1;
    font-size: 14px;
  }

  &__tags {
    margin-top: 50px;
    margin-bottom: 60px;

  }

  &__tags-link {
    color: #8F8D8D;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 0 16px;
    border-radius: 14px;
    border: 1px solid rgba(#454647, .5);
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }

  &__socials {
    display: flex;
    gap: 20px;
  }
}

.blog {
  padding: 59px 0 66px;

  &__inner {
    //display: grid;
    //grid-template-columns: 2fr 1fr;
    //grid-gap: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__items {
    max-width: 730px;
  }

  &__item {
    margin-bottom: 80px;
  }

  .slick-slide img {
    padding-left: 10px;
  }

  &__item-img {
    max-width: 730px;
    width: 100%;
  }

  &__item-info {
    padding: 25px 0 10px;
    font-weight: 600;
    font-size: 14px;
    color: #707070;

    a {
      color: inherit;
    }
  }

  &__item-title {
    color: $title-color;
    @extend %title-font;
    font-size: 24px;
    line-height: 38px;
    padding-bottom: 6px;
  }

  &__blockquote {
    padding: 54px 65px;
    background: rgba(223, 223, 223, 0.50);
    text-align: center;
    margin: 72px 0 50px;
  }

  &__blockquote-text {
    padding-bottom: 23px;
    font-size: 24px;
    color: #363838;
    margin-bottom: 23px;
    font-style: italic;
    font-weight: 300;
    line-height: 38px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 1px;
      width: 200px;
      left: 33%;
      bottom: 0;
      border-radius: 1px;
      background: #6D7278;

    }
  }

  &__blockquote-author {
    color: $title-color;
    @extend %title-font;
    line-height: 22px;
  }

  &__item-popup {
    position: absolute;
    left: 50%;
    top: 33%;
  }
}

.article-popup {
  &__box {
    position: relative;
  }
}

.article-slider {
  &__arrow {
    border: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transition: translateY(-50%);
    z-index: 5;
    cursor: pointer;
  }

  &__arrowleft {
    left: 16px;
  }

  &__arrowright {
    right: 16px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
  }

  &__list-item {
    margin: 0 6px;
  }

  &__arrow {
    margin: 0 6px;
  }

  &__arrow--disabled {
    opacity: 0;
    pointer-events: none;
  }

  &__list-num {
    font-weight: 600;
    font-size: 14px;
    color: #707070
  }

  &__list-num--active {
    color: $title-color;
  }
}

.blog-one__item {
  p {
    margin-bottom: 40px;
  }

  blockquote {
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    color: $title-color;
    margin-bottom: 29px;
    padding: 0 40px;
  }

  .blog__blockquote-text::after {
    margin-right: auto;
    left: 0;
  }
}

.blog-one {
  &__tags {
    margin-bottom: 30px;
  }

  &__tags-title {
    color: $title-color;
    @extend %title-font;
    font-size: 20px;
    line-height: 31px;
    margin-bottom: 6px;
  }

  &__tags-link {
    margin-bottom: 10px;
    margin-right: 20px;
    display: inline-block;
    padding: 0 16px;
    color: #8f8d8d;
    font-size: 14px;
    font-weight: 600;
    border-radius: 14px;
    border: 1px solid rgba(#454647, .5);
  }

  &__links {
    padding: 40px 0 32px;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    color: #707070;
    width: 243px;
    position: relative;
    font-size: 14px;
    font-weight: 600;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 23px;
    }
  }

  &__link-prev {
    padding-left: 44px;

    &::before {
      background-image: url("../img/arrow-prev.svg");
      left: 0;
    }
  }

  &__link-next {
    padding-right: 44px;
    text-align: right;

    &::before {
      background-image: url("../img/arrow-next.svg");
      right: 0;
    }
  }

  &__comment-title {
    color: $title-color;
    @extend %title-font;
    font-size: 20px;
    line-height: 31px;
    margin-bottom: 16px;
  }

  &__comment-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;
  }

  &__comment-avatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 13px;
  }

  &__comment-name {
    color: $title-color;
    @extend %title-font;
    line-height: 23px;
  }

  &__comment-date {
    color: #A1A1A1;
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__btn-reply {
    color: #707070;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__form {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__form-title {
    color: $title-color;
    @extend %title-font;
    line-height: 23px;
    margin-bottom: 25px;
  }

  &__textarea,
  &__input {
    border-radius: 24px;
    border: 1px solid #DFDFDF;

    &::placeholder {
      color: #A1A1A1;
    }
  }

  &__input {
    padding: 6px 17px;
    margin-bottom: 20px;
    width: 49%;
    max-width: 407px;
  }

  &__textarea {
    padding: 14px 17px;
    grid-column: span 2;
    max-height: 125px;
    width: 100%;
    resize: none;
    margin-bottom: 12px;
  }

  &__form-label {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    color: #a1a1a1;
  }

  &__btn-submit {
    color: #FFFFF0;
    text-align: center;
    font-weight: 600;
    padding: 6px 12px;
    width: 181px;
    border-radius: 21px;
    background: $title-color;
    margin-top: 20px;
  }
}


@import 'media';
